img.friendsramen-img{
    height: 130px;
    width: 130px;
}

section{
    margin: 0 auto;
    width : 500px;
    font-family: 'TsukuARdGothic-Regular'
}

td.store_recommends {
    display: flex;
}

.btn-good{
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.btn-good:hover{
    color: #f44336;
}
.active{
    color: #f44336;
}
.btn-good .active{
  
    color: #f44336;
}


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  div.kensakuform{
      margin-top: 15px;
      margin-bottom: 15px;
  }