img.login-img {
    width: 300px;
    height: 300px;
    }

    * {
        margin: 0;
        padding: 0;
      }
      
      body {
      font-family: 'TsukuARdGothic-Regular'
      
      }

section{
        margin: 0 auto;
        width : 700px;
      }
      


  img.azitama-img1{
    width: 40px;
    height: 40px;
  }

  img.azitama-img2{
    width: 40px;
    height: 40px;
  }

  #signup{
      display: flex; 
      margin-top: 30px;
      margin-left: 40px;
  }

  div.signup-btn{
      margin-left: -30px;
  }

  .login-btn{
    width: 90px;
    height: 40px;
    border: 5px solid #cd5c5c;
    padding: 5px 5px;
    background:#fff8dc;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 20px;
  }

  .password{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .email{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  div.login-info{
    font-size: 3ch;
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 450px;
  }

  a.passwordup{
    margin-top: 100x;
  }

  div.logout-meg{
    margin-left: 400px;

  }


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

 div.touroku-info{
   margin-top: 30px;
   margin-left: 400px;
   margin-bottom: 400px;
   font-size: 3ch;
 }

 div.logout-info{
   margin-top: 20px;
   margin-left: 300px;
   margin-bottom: 500px;
   font-size: 2ch;
 }

 div.sakuzyo{
   
   margin-bottom: 500px;
 }

 h2.akaunntosakuzyo{
   margin-top: 20px;
   margin-left: 300px;
   margin-bottom: 500px;
 }

 img.reset_password-img{
  margin-top: 50px; 
  margin-bottom: 100px;
   height: 350px;
   width: 350px;
 }

 div.sousinn-btn{
   margin-top: 20px;
   margin-left: 255px;
   margin-bottom: 300px;
 }

 button.reset_password-btn{
  border: 5px solid #cd5c5c;
  padding: 5px 5px;
  background:#fff8dc;
  font-weight: bold;
 }