img.signup-img {
    width: 300px;
    height: 300px;
    }

    * {
        margin: 0;
        padding: 0;
      }
      
      body {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
          Meiryo, sans-serif;
      margin-bottom: 200px;
      height: 600px;
      }

section{
        margin: 0 auto;
        width : 700px;
      }
      

  img.tya-shuu-img1{
      margin-top: 50px;
    width: 70px;
    height: 70px;
  }

 img.tya-shuu-img2{
margin-top: 50px;
    width: 70px;
    height: 70px;
 }


 .username{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .email{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .password{
    margin-left: 41px;
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .favoriteramen{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .exercisegoal{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }


  .favorite-ramen{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .exercise-goal{
    margin-top: 10px;
    border: 5px solid gold;
    padding: 5px 5px;
    background:#fff8dc;
  }

  .sign-btn{
    width: 90px;
    height: 40px;
    border: 5px solid #cd5c5c;
    background:#fff8dc;
    font-weight: bold;
    margin-top: 5px;
    font-family: 'TsukuARdGothic-Regular'
  }

  #signup{
    margin-left: 80px;
    font-family: 'TsukuARdGothic-Regular'
   
  }

  section{
    margin: 0 auto;
    width : 700px;
    font-family: 'TsukuARdGothic-Regular'

  }

  h2{
    margin-left: 80px;
    color: #fa8072;
    font-family: 'TsukuARdGothic-Regular';
    margin-top: 20px;
    
    
  }

  form.ramenramen{
    font-family: 'TsukuARdGothic-Regular'

  }

  div.hensyuu{
    margin-left: 300px;
    margin-top: 30px;
  }

  div#signup{
    margin-top: 50px;
    
  }
 
  div.edit-msg{
    margin-left: 300px;
    margin-bottom: 200px;
    margin-top: 50px;

  }
  a.mypage-btn{
    margin-top: 400px;
    margin-left: 300px;
  }


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  

a.bunsyou{
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 200px;
}

a.bunsyou2{
  margin-left: 30px;
  margin-bottom: 200px;
}

form.saihakkou{
  margin-top: 50px;
  margin-left: 100px;
  ;
}

div.ramenhensyuu{
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 400px;
}

a.annnai{
  margin-left: 400px;
}

input.sign-btn{
  margin-bottom: 250px;
}

div.mailsousin{
  margin-bottom: 400px;
  margin-top: 20px;
  margin-left: 300px;
  font-family: 'TsukuARdGothic-Regular'
}